$background-primary : #111111;
$background-secondary : #181818;
$background-third : #262626;

$text-primary : #FAFAFA;
$text-secondary : #AAAAAA;

$border-primary : #3B3B3B;

$brand-primary : #33FF33;
