.guideBox {
  position: absolute;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  z-index: 1001;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: black;
}

.highlightOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  pointer-events: none;
}
