.container {
    width: 100%;
    padding : $s12;
    gap: $s16;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    border-bottom : 1px solid $border-primary;
    p{
        font-size: $md;
        font-weight: $semi-bold;
        color: $text-primary;
    }
    p:hover{
        color: $brand-primary;
        scale: 1.1;
        transition: all 0.3s ease-in-out;
    }
    p:not(:hover){
        color: $text-primary;
        scale: 1;
        transition: all 0.3s ease-in-out;
    }
}