.container{
    width: 424px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
}