.container {
    width: 100%;
    padding : $s16;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: $s12;
    background-color: $background-primary;
    border-radius: $s12;
}

.active{
    outline: 1px solid #3F3;
}

.name {
    display: flex;
    align-items: center;
    justify-content: center;
    gap : $s12;
    p {
        color: #FFF;
        font-size: $s16;
        font-weight: normal;
        line-height: 150%; /* 24px */
    }
    input{
        width: 90%;
        border: none;
        outline : none;
        background: none;
        color : $text-primary;
    }
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap : $s8;
}
