.container{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.top {
    width: 100%;
    padding: $s8 $s12;
    gap : 10px;
    border-top: 1px solid $border-primary;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.bottom{
    width: 100%;
    background-color: $background-third;
    display: flex;
    align-items: center;
    gap: 12px;
    flex: 1 0 0;
    align-self: stretch;
}