@use "@/constants/COLORS.scss" as colors;
@use "@/constants/SPACING.scss" as spacing;
@use "@/constants/FONTS.scss" as font;


.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: spacing.$s20;
    border-right: 1px solid colors.$border-primary;
}

.button{
    width: 260px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: colors.$brand-primary;
    outline: none;
    border-radius: spacing.$s16;
    border: none;
    font-size: font.$md;
    font-weight: font.$medium;
}